# Lab Session 1

In this lab session, we work on data on security breaches from ["Information is Beautiful"](http://www.informationisbeautiful.net/visualizations/worlds-biggest-data-breaches-hacks/). You can download the dataset [here](https://docs.google.com/spreadsheets/d/1Je-YUdnhjQJO_13r8iTeRxpU2pBKuV6RVRHoYCgiMfg/edit#gid=322165570).

## Please note
I encourage you to submit a preliminary version by Friday night. I can look over your preliminary results and give you feedback.

## Basic use of Python in Jupyter

### Some principles:
  * Everything is handled in cells. Cells contain source code, explanation, documentation, and output.
  * Jupyter is interactive and differentiates between a command mode (`Esc`) and an edit mode (`Enter`).
  * Keyboard shortcuts are vital to know for effective work in Jupyter

### Most important keyboard shortcuts
  * `Enter` will bring you into edit mode
    + In edit mode you can write Python or [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)
  * `Esc` will bring you in command mode
    + `b` will create a new cell below the current sell (`a` creates a cell above)
    + `y` interprets a cell as code
    + `m` interprets a cell as markdown
    + pressing `d` twice deletes a cell
  * `Shift + Enter` runs a cell
  * `Shift + Command + P` opens the command palette
  * You can run shell commands using `!` - This is helpful to see available files

We use the pandas library to wrangle data. You can access the pandas documentation in the `Help` menu.

The following command allows us to display multiple outputs at the same time (Highly useful!) \[Reference: [dataquest.io](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/)\]

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

The pandas library is one of the most important libraries for data wrangling. Let's import it.'

In [8]:
import pandas as pd

Pandas can access data in variety of ways. Check out the [documentation](http://pandas.pydata.org/pandas-docs/stable/index.html).

Here, we just get the data straight from the google spreadsheet. This have the advantage that we get the current data and the risk that the spreadsheet may not be available any longer in the future.

In [9]:
raw_data = pd.read_csv('https://docs.google.com/spreadsheets/d/' + # The standard google link components
                   '1Je-YUdnhjQJO_13r8iTeRxpU2pBKuV6RVRHoYCgiMfg' + # Sheet ID
                   '/export?gid=322165570&format=csv', # GID = Worksheet
                   error_bad_lines=False,
                   header=[1,2] # The dataset has two columns
                  )
raw_data.columns = raw_data.columns.get_level_values(0) # We flatten the header

We create a copy of the data and select some interesting columns

In [10]:
leaks = raw_data[['Entity', 'YEAR','records lost', 'METHOD OF LEAK', 'DATA SENSITIVITY']].copy()

We look at the header and the footer of the dataframe.

In [12]:
leaks.head()
leaks.tail()

,Entity,YEAR,records lost,METHOD OF LEAK,DATA SENSITIVITY
0,AOL,0,92000000.0,inside job,1
1,Automatic Data Processing,1,125000.0,poor security,20
2,Ameritrade Inc.,1,200000.0,lost / stolen device,20
3,Citigroup,1,3900000.0,lost / stolen device,300
4,Cardsystems Solutions Inc.,1,40000000.0,hacked,300

,Entity,YEAR,records lost,METHOD OF LEAK,DATA SENSITIVITY
248,CEX,14,2000000.0,accidentally published,300
249,Swedish Transport Agency,14,3000000.0,poor security,50000
250,Instagram,14,6000000.0,hacked,1
251,Equifax,14,143000000.0,hacked,50000
252,Spambot,14,711000000.0,poor security,4000

In [13]:
leaks.to_csv('iib_leaks.csv')

See the results in Tableau Public [here](https://public.tableau.com/profile/michael.schermann#!/vizhome/LabSession1-SecurityBreaches/Dashboard1).